<web-app>
	<context-param>
		<param-value>alpha.Alpha</param-value>
	</context-param>
	<filter>
		<filter-class>bravo.Bravo</filter-class>
		<init-param>
			<param-value>charlie.Charlie</param-value>
		</init-param>
	</filter>
	<listener>
		<listener-class>delta.Delta</listener-class>
	</listener>
	<servlet>
		<servlet-class>echo.Echo</servlet-class>
		<init-param>
			<param-value>foxtrot.Foxtrot</param-value>
		</init-param>
	</servlet>
	<error-page>
		<exception-type>golf.Golf</exception-type>
	</error-page>
	<env-entry>
		<env-entry-type>hotel.Hotel</env-entry-type>
	</env-entry>
	<ejb-ref>
		<home>indigo.Indigo</home>
		<remote>juliet.Juliet</remote>
	</ejb-ref>
	<ejb-local-ref>
		<local-name>kilo.Kilo</local-name>
		<local>lima.Lima</local>
	</ejb-local-ref>
	<service-ref>
		<service-interface>mike.Mike</service-interface>
	</service-ref>
	<resource-ref>
		<res-type>november.November</res-type>
	</resource-ref>
	<resource-env-ref>
		<resource-env-ref-type>oscar.Oscar</resource-env-ref-type>
	</resource-env-ref>
	<message-destination-ref>
		<message-destination-type>poppa.Poppa</message-destination-type>
	</message-destination-ref>
</web-app>