*/src/main/resources/META-INF/MANIFEST.MF
*/src/test/resources/META-INF/TEST.MF
target
integration-repo
ivy-cache
.DS_Store
org.eclipse.virgo.bundlor.gradle/.gradle
org.eclipse.virgo.bundlor.gradle/bundlor-plugin/build
