target
build/
.settings/
integration-repo
ivy-cache
.DS_Store
.gradle/
org.eclipse.virgo.bundlor.gradle/.gradle
org.eclipse.virgo.bundlor.gradle/BundlorTaskTestsProject
bin/
.project
.classpath
.springBeans
/.idea/
